@media screen and (max-width: 767px) {

    .wrapper, .header, .footer {
        width: 300px;
    }

    .left {
        width: 100px;
    }

    .right-top {
        width: 75px;
    }

    .top {
        width: 125px;

    }

    .middle {
        width: 125px;
    }

    .bottom {
        width: 200px;
    }

}

@media screen and (max-width: 479px) {

    .wrapper, .header, .left, .right-top, .top, .top, .middle, .bottom, .footer {
        width: 150px;
    }

    .left, .right, .right-top {
        float: none;
    }



}