.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.wrapper {
    display: flex-end; 
    flex-direction: row;
    padding: 20px;
}

.box1 {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    border: solid 10px white;
    float: right;
}

.box2 {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    border: solid 10px white;
    float: right;
}

.box3 {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    border: solid 10px white;
    float: right;
}

.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.right {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
}

.wrapper2 {
    display: flex;
    flex-flow: column;
    padding-top: 40px;
    padding-right: 60px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.block1 {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: solid 5px white;
    margin-bottom: 10px;
}

.block2 {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: solid 5px white;
    margin-bottom: 10px;
}

.block3 {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: solid 5px white;
}



.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}